
/* Top navigation button */
#top {
  position: fixed;
  bottom: 0px;
  left: 20px;
  cursor: pointer;
  z-index: 1001;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}

#top img {
  width: 70px;
  height:70px;
  animation: jump 1s infinite alternate ease-in-out;
}
#chatbot-icon{
  
  position: fixed;
  bottom: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1001;
  padding: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
}
#chatbot-icon img{
  width: 60px;
  border-radius: 100%;
  box-shadow: 0px 8px 16px grey;
  height: 60px;
  animation: jump 1s infinite alternate ease-in-out;
}  