.form-container {
    width: 80%;
    margin: auto;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .form-container   form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }
  
  .form-container   label {
    font-size: 1.2em;
    width: 100%;
    text-align: left;
    max-width: 500px;
  }
  
  .form-container   input, .form-container  select, button {
    font-size: 1em;
    padding: 10px;
    margin-top: 5px;
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .form-container button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-container button:hover {
    background-color: #0056b3;
}