
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  
  #userinput-section {
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #userinput-section h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Form Styles */
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  #userinput-section  input[type="text"],
  #userinput-section  input[type="email"],
  #userinput-section  input[type="number"] {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  #userinput-section  select {
    width: 100%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  #userinput-section   button[type="submit"] {
    width: 100%;
    height: 40px;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #userinput-section  button[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  /* Error Message Styles */
  
  #userinput-section   #error-message {
    color: #f00;
    font-size: 14px;
    margin-bottom: 10px;
  }
  
  /* Success Message Styles */
  
  #success-message {
    color: #0f0;
    font-size: 14px;
    margin-bottom: 10px;
  }
  